
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

:root {

    --white-color: #fff;
    --white-color-02: #F3F3F3;
    --white-color-03: #CFCFCF;
    --grey-color: #75717154;
    --dark-grey-color: #454141bd;


    --primary-bg-color: #dc4343;
    --secondar-bg-color: var(--white-color);

    --primary-text-color: #222;
    --secondary-text-color: var(--white-color);
    --tertiary-text-color: var(--primary-bg-color);
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    overflow-x:hidden;
    height: 100%;
}

.nav-wrapper {
    width: 200px;
    background:var(--primary-bg-color);
    color: var(--secondary-text-color);
    display: grid;
    transition: all .1s linear;
}

.nav-wrapper > .left-nav > .nav-list {
    display: grid;
}

.nav-wrapper > .left-nav .nav-item {
    height: 40px;
    padding: 5px;
    font-weight: bold;
    transition: all .1s linear;
}

.nav-wrapper > .left-nav .nav-item:hover {
    background: var(--secondar-bg-color);
    color: var(--primary-bg-color);
    cursor: pointer;
}

.nav-wrapper > .left-nav .nav-item.active {
    background: var(--secondar-bg-color);
    color: var(--primary-bg-color);
    border-left: 2px solid var(--tertiary-text-color);
}

.nav-wrapper > .left-nav .nav-item > span {
    font-size: 24px;
}

.brand-logo {
    display: inline-block;
    font-size: 36px;
}
.brand-name {
    font-family: 'Reggae One', cursive;
    text-transform: uppercase;
    position: relative;
    top: -7px;
    font-weight: bold;
}

.main-wrapper {
    height: 100vh;
    width: calc(100vw - 200px);
}

#nav-toggle {
    cursor: pointer;
    font-size: 1.5rem;
}

input#toggle {
    display: none;
}

input#toggle:checked + .nav-wrapper {
   width: 50px;
}

input#toggle:checked + .nav-wrapper label {
    opacity: 0;
}

input#toggle:checked + .nav-wrapper span.icon {
    padding-left: 5px;
}

input#toggle:checked ~ .main-wrapper {
    width: calc(100vw - 50px);
}

.main-wrapper > .header {
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: var(--secondary-bg-color);
    padding: 0 5px;
    box-shadow: 0px 3px 10px 0px var(--grey-color);
    align-items: center;
}

.main-wrapper > .header span {
    font-size: 1.5rem;
}

.main-wrapper > .header > .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-wrapper > .header > .menu-container > .search-wrapper {
    padding: 5px;
    height: 40px;
    width: 300px;
    border: 1px solid var(--grey-color);
    border-radius: 50px;
    position: relative;
}
.main-wrapper > .header > .menu-container > .search-wrapper > span > i  {
    display: inline-block;
    position: relative;
    left: 10px;
    color: var(--dark-grey-color);
}

.main-wrapper > .header > .menu-container > .search-wrapper > input {
    position: absolute;
    height: 35px;
    width: 85%;
    border: 0;
    border-radius: 50%;
    outline: none;
    color: var(--dark-grey-color);
    padding: 2px;
    left: 40px;
    top: 2px;
}

.main-wrapper > .header > .menu-container > .notification-wrapper {
    position: relative;
}

.main-wrapper > .header > .menu-container > .notification-wrapper >#notification-badge {
    position: absolute;
    color: var(--secondary-text-color);
    font-size: 10px;
    right: -4px;
    top: -2px;
    height: 16px;
    width: 16px;
    background: var(--primary-bg-color);
    padding: 2px;
    font-weight: bold;
    border-radius: 100%;
    cursor: pointer;
}

.main-wrapper > .header > .menu-container > .user-wrapper {
    display: flex;
    flex-direction: column;
}

.main-wrapper > .header > .menu-container > .user-wrapper > .user-detail > label {
    font-size: 14px;
    position: relative;
    top: -4px;
    left: -4px;
}

.main-wrapper > .header > .menu-container > .user-wrapper > label {
    color: var(--dark-grey-color);
    font-size: 10px;
}

.main-wrapper > .main {
    margin-top: 2rem;
    padding: 10px;
    color: var(--primary-text-color);
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.main-wrapper > .main > .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.main-wrapper > .main > .card-container > .card {
    height: 150px;
    width: 200px;
    padding: 10px;
    background: var(--white-color);
    display: flex;
    flex-direction: column;
    box-shadow: 4px 6px 8px 0px var(--white-color-03);
    cursor: pointer;
}

.main-wrapper > .main > .card-container > .card:hover {
    border-top: 2px solid var(--primary-bg-color);
}

.main-wrapper > .main > .card-container > .card > .card-top {
    height: 35%;
}

.main-wrapper > .main > .card-container > .card > .card-top > span > i {
    color: var(--primary-bg-color);
    font-size: 1.5rem;
}

.main-wrapper > .main > .card-container > .card > .card-top > label {
    font-size: 1.2rem;
    display: inline-block;
    font-weight: bolder;
    color: var(--primary-bg-color);
    
}

.main-wrapper > .main > .card-container > .card > label.card-value {
    color: var(--dark-grey-color);
    font-size: 3rem;
    padding-top: 10px;
    align-self: center;
    cursor:inherit;
}

.table-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.table-container > .table {
  padding: 10px;
}

.table-container > .table > table {
    border-collapse: collapse;
    width: 100%;
    
}

.table-container > .table td, th {
    border: 1px solid var(--grey-color);
    text-align: left;
    padding: 8px;
}


.table-container > .table td.status {
    text-align: center;
    background: var(--white-color);
    color: var(--dark-grey-color);
    font-size: 1.25rem;
}

.table-container > .table td.status > span.green{
    background: green;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    display: inline-block;
}

.table-container > .table td.status > span.yellow{
    background: #ff9900;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    display: inline-block;
}

.table-container > .table td.status > span.red{
    background: var(--primary-bg-color);
    height: 15px;
    width: 15px;
    border-radius: 100%;
    display: inline-block;
}

.table-container > .table tr:nth-child(even) {
    background-color:var(--primary-bg-color);
    color:var(--secondary-text-color);
}


/* Media Queries */
@media screen and (max-width: 1024px) {
    
    .main-wrapper > .header {
      grid-template-columns: 1fr 3fr;
    }
    .main-wrapper > .header > .menu-container > .search-wrapper {
        height: 40px;
        width: 250px;
    }

    .main-wrapper > .main > .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (max-width: 768px) {
    .main-wrapper > .header {
      grid-template-columns: 100px auto;
    }

    .main-wrapper > .header > .menu-container {
        justify-content: flex-end;
    }

    .main-wrapper > .header > .menu-container > .search-wrapper {
        display: none;
    }
    .main-wrapper > .header > .menu-container > .menu-item {
        padding: 10px

    }

    .main-wrapper > .header > .menu-container > .notification-wrapper >#notification-badge {
        right: 5px;
        top: 10px;
    }

    .nav-wrapper {
        width: 50px;
     }
     
    .nav-wrapper label {
         opacity: 0;
     }
     
    .nav-wrapper span.icon {
         padding-left: 5px;
     }
     
    .main-wrapper {
         width: calc(100vw - 50px);
     }

     .main-wrapper > .main > .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .table-container {
        grid-template-columns: 1fr;

    }

}